<div class="container" style="margin: 50px auto; max-width: 50%">
  <div class="row">
    <div class="col s12 center">
      <form style="margin: auto auto">
        <div class="input-field">
          <input
            class="center validate black-text"
            type="text"
            name="newTodo"
            placeholder="Type new task"
            [(ngModel)]="newTodoText"
          />
        </div>

        <button class="waves-effect waves-light btn purple" (click)="onAdd()">Add</button>
      </form>
    </div>
  </div>
</div>
